<a href="https://colab.research.google.com/github/va4756/yemoon_bigdata_test/blob/main/bigdata_%EC%98%88%EB%AC%B8_%EC%9E%91%EC%97%851_example1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!git clone https://github.com/AnalyticsKnight/yemoonsaBigdata/

Cloning into 'yemoonsaBigdata'...
remote: Enumerating objects: 709, done.
remote: Counting objects: 100% (348/348), done.
remote: Compressing objects: 100% (233/233), done.
remote: Total 709 (delta 157), reused 237 (delta 115), pack-reused 361 (from 1)
Receiving objects: 100% (709/709), 11.46 MiB | 6.81 MiB/s, done.
Resolving deltas: 100% (341/341), done.

# 제1 유형 문제들

## 01.sns 예문 중에서 tip을 이용한 문제들

In [ ]:
import seaborn as sns
import numpy as np

In [ ]:
sns.get_dataset_names

In [ ]:
df = sns.load_dataset('tips')
print(df.shape)
df.head()

(244, 7)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
#문제1) total_bill 변수의 제1 사분위를 구하고 정수값으로 출력하시오.
q1 = df['total_bill'].quantile(0.25)
print(q1)
print(int(q1))

13.3475
13

In [ ]:
#문제2) total_bill 값이 20 이상 25 이하인 데이터의 수를 구하시오.
cond1 = df['total_bill'] >= 20
cond2 = df['total_bill'] <= 25
# result = len(df[cond1 & cond2])
result0 = df[cond1 & cond2].shape
print(result0)
result = df[cond1 & cond2].shape[0]
result

(42, 7)

42

In [ ]:
#문제3) tip 변수의 IQR 값을 구하시오.
q3, q1 = df['tip'].quantile([0.75, 0.25])
print(q3, q1)
IQR = q3 - q1
print(IQR)

3.5625 2.0
1.5625

In [ ]:
#문제4) tip 변수의 상위 10개 값의 총합을 구하여 소수점을 버리고 정수로 출력하시오.
#top_10 = df['tip'].sort_values(ascending=False).head(10)
top_10 = df.sort_values(by='tip', ascending=False).head(10)
result = int(top_10['tip'].sum())
result

70

In [ ]:
#문제5) 전체 데이터에서 sex가 Female인 비율이 얼마인지 소숫점 첫째자리까지 출력하시오.
cond = df[df['sex'] == 'Female']
ratio = len(cond) / len(df)
print(ratio)
print(round(ratio, 1))

0.35655737704918034
0.4

In [ ]:
#문제6) 첫번째 행부터 순서대로 10개 뽑은 후 total_bill 열의 평균값을 반올림하여 정수로 출력하시오.
top_10 = df.head(10)
# result = top_10['total_bill'].mean()
result = df.loc[0:9]['total_bill'].mean()
print(result)
print(round(result))

18.737000000000002
19

In [ ]:
#문제7) 첫번째 행부터 순서대로 50% 까지 데이터를 뽑아서 tip 변수의 중앙값을 구하시오.
half = int(len(df) * 0.5 )
print(half)
result = df[:half]['tip'].median()
print(result)

122
3.0

## 02.결측치 처리 내용(mpg 데이터 사용)

In [ ]:
df = sns.load_dataset('mpg')
print(df.shape)
df.head()

(398, 9)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [ ]:
df.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

In [ ]:
#문제8) 결측값이 있는 데이터의 수를 구하시오.
result = df.isnull().sum()
print(result)
print(result.sum())

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model_year      0
origin          0
name            0
dtype: int64
6

In [ ]:
#문제9) horsepower 컬럼의 결측값을 horsepower의 평균값으로 대체하고 horsepower의 중앙값을 정수로 출력하시오.
df1 = df.copy()
df1_mean = df1['horsepower'].mean()
df1['horsepower'] = df1['horsepower'].fillna(df1_mean)
print(df1.isnull().sum().sum())
result = df1['horsepower'].median()
print(int(result))

0
95

In [ ]:
#문제10) horsepower 컬럼에 결측치가 있는 행을 제거하고 첫번째 행부터 순서대로 50% 를
# 추출한 후 해당 데이터의 1사분면의 수를 구하시오.
df1 = df.copy()
df1 = df1.dropna()
print(df1.info())
df1_half = int(len(df1) * 0.5)
df1 = df1.head(df1_half)
q1 = df1['horsepower'].quantile(0.25)
print(q1)

<class 'pandas.core.frame.DataFrame'>
Index: 392 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    int64
 2   displacement  392 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        392 non-null    int64
 5   acceleration  392 non-null    float64
 6   model_year    392 non-null    int64
 7   origin        392 non-null    object
 8   name          392 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 30.6+ KB
None
86.0

## 03.이상치 처리(mpg 데이터에서)

In [ ]:
#문제11) cylinders 가 3인 자동차와 8인 자동차 그룹의 mpg 평균값 차이를 절대값 정수로 출력하시오.
df1 = df.copy()
df1['cylinders'].sort_values().value_counts()

cylinders
4    204
8    103
6     84
3      4
5      3
Name: count, dtype: int64

In [ ]:
cond1 = df1['cylinders'] == 3
cond2 = df1['cylinders'] == 8
result = abs(df1[cond1]['mpg'].mean() - df1[cond2]['mpg'].mean())
print(int(result))

5

In [ ]:
#문제12) horsepower 변수를 z-score 표준화를 진행하고 이상치 수를 구하시오.
# 이상치는 z 값이 1.5를 초과하거나 -1.5 미만인 값이다.
# z-score 표준화 : z = (x - 평균) / 표준편차
df1 = df.copy()
df1_mean = df1['horsepower'].mean()
df1_std = df1['horsepower'].std()
df1['hp_horse_zscore'] = (df1['horsepower'] - df1_mean) / df1_std
print(df1.head())

    mpg  cylinders  displacement  horsepower  weight  acceleration  \
0  18.0          8         307.0       130.0    3504          12.0
1  15.0          8         350.0       165.0    3693          11.5
2  18.0          8         318.0       150.0    3436          11.0
3  16.0          8         304.0       150.0    3433          12.0
4  17.0          8         302.0       140.0    3449          10.5

   model_year origin                       name  hp_horse_zscore
0          70    usa  chevrolet chevelle malibu         0.663285
1          70    usa          buick skylark 320         1.572585
2          70    usa         plymouth satellite         1.182885
3          70    usa              amc rebel sst         1.182885
4          70    usa                ford torino         0.923085

In [ ]:
cond1 = df1['hp_horse_zscore'] > 1.5
cond2= df1['hp_horse_zscore'] < -1.5
result = len(df1[cond1 | cond2])
result

39

In [ ]:
#문제13) mpg 컬럼을 min-max 정규화를 진행한 후 0.8 보다 큰 값을 가지는 레코드 수를 구하시오.
# min-max scaling = (x - min) / (max - min)
df1 = df.copy()
df_max= df1['mpg'].max()
df_min = df1['mpg'].min()
df1['mpg_min_max'] = (df1['mpg'] - df_min) / (df_max - df_min)
df1 = df1.sort_values(by='mpg_min_max', ascending=False)
cond = df1['mpg_min_max'] > 0.8
result = len(df1[cond])
result

11

In [ ]:
#문제14) weight 컬럼에 대하여 상자그림(박스플롯) 기준으로 이상치의 갯수를 구하시오.
df1 = df1.copy()
q1, q3 = df1['weight'].quantile([0.25, 0.75])
iqr = q3 - q1
print(iqr)
upper_bound = q3 + iqr * 1.5
lower_bound = q1 - iqr * 1.5
cond1 = df1['weight'] > upper_bound
cond2 = df1['weight'] < lower_bound
result = len(df1[cond1 | cond2])
result

1384.25

0

## 04.데이터 분석(mpg 데이터를 이용)

In [ ]:
#문제15) model_year가 80보다 큰 차량 중에 mpg 값이 가장 큰 차량의 horsepower 값을
# 합산하여 출력하시오.
df1 = df.copy()
max = df1[df1['model_year'] > 80]['mpg'].max()
result = df1[df1['mpg'] == max]['horsepower'].sum()
print(result)

52.0

In [ ]:
#문제16) origin 이 usa, europe 인 데이터 중에서 horsepower의 표준편차값의 차이를
# 절대값으로 소수 첫째 자리까지 출력하시오.
df1 = df.copy()
print(df1['origin'].value_counts())
df_usa = df1[df1['origin'] == 'usa']['horsepower'].std()
df_euro = df1[df1['origin'] == 'europe']['horsepower'].std()
diff = abs(df_usa - df_euro)
print(round(diff, 1))

origin
usa       249
japan      79
europe     70
Name: count, dtype: int64
19.7

In [ ]:
#문제17) origin 별로 그룹화하여 weight의 평균값을 산출하고 평균값이 높은 그룹의
# weight의 3사분위 수 값을 구하시오.
df1 = df.copy()
a = df1.groupby(['origin'])['weight'].mean()
a = a.sort_values(ascending=False)
print(a)
b = a.index[0]
print(b)
result = df1[df1['origin'] == b]['weight'].quantile(0.75)
result

origin
usa       3361.931727
europe    2423.300000
japan     2221.227848
Name: weight, dtype: float64
usa

4054.0

In [ ]:
#문제18) name 별로 그룹화하여 mpg의 중앙값을 산출하고 중앙값이 높은 그룹의
#  mpg의1사분위 수 값을 구하시오.
df1 = df.copy()
df_name = df1.groupby(['name'])['mpg'].median()
df_name = df_name.sort_values(ascending=False)
print(df_name.index[0])
maxcar_mpg = df_name.index[0]
result = df1[df1['name']==maxcar_mpg]['mpg'].quantile(0.25)
result

mazda glc

46.6

In [ ]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [ ]:
#문제19) horsepower 상위 10번째 값으로 상위 10개의 값을 변환한 후 horsepower가 150 이상인
# 데이터를 추출하여 horsepower의 평균값을 반올림하여 정수값으로 출력하시오.
df1 = df.copy()
df1 = df1.sort_values(by='horsepower', ascending=False, ignore_index=True)
print(df1.head(10))
top_10 = df1.loc[9, 'horsepower']
print(top_10)
df1.loc[:9, 'horsepower'] = top_10
print(df1.head(10))
result = df1[df1['horsepower'] >= 150]['horsepower'].mean()
print(round(result))

    mpg  cylinders  displacement  horsepower  weight  acceleration  \
0  16.0          8         400.0       230.0    4278           9.5
1  12.0          8         455.0       225.0    4951          11.0
2  14.0          8         455.0       225.0    3086          10.0
3  14.0          8         455.0       225.0    4425          10.0
4  14.0          8         454.0       220.0    4354           9.0
5  13.0          8         440.0       215.0    4735          11.0
6  14.0          8         440.0       215.0    4312           8.5
7  10.0          8         360.0       215.0    4615          14.0
8  11.0          8         318.0       210.0    4382          13.5
9  11.0          8         429.0       208.0    4633          11.0

   model_year origin                          name
0          73    usa            pontiac grand prix
1          73    usa      buick electra 225 custom
2          70    usa       buick estate wagon (sw)
3          70    usa              pontiac catalina
4          70    usa              chevrolet impala
5          73    usa  chrysler new yorker brougham
6          70    usa             plymouth fury iii
7          70    usa                     ford f250
8          70    usa                    dodge d200
9          72    usa               mercury marquis
208.0
    mpg  cylinders  displacement  horsepower  weight  acceleration  \
0  16.0          8         400.0       208.0    4278           9.5
1  12.0          8         455.0       208.0    4951          11.0
2  14.0          8         455.0       208.0    3086          10.0
3  14.0          8         455.0       208.0    4425          10.0
4  14.0          8         454.0       208.0    4354           9.0
5  13.0          8         440.0       208.0    4735          11.0
6  14.0          8         440.0       208.0    4312           8.5
7  10.0          8         360.0       208.0    4615          14.0
8  11.0          8         318.0       208.0    4382          13.5
9  11.0          8         429.0       208.0    4633          11.0

   model_year origin                          name
0          73    usa            pontiac grand prix
1          73    usa      buick electra 225 custom
2          70    usa       buick estate wagon (sw)
3          70    usa              pontiac catalina
4          70    usa              chevrolet impala
5          73    usa  chrysler new yorker brougham
6          70    usa             plymouth fury iii
7          70    usa                     ford f250
8          70    usa                    dodge d200
9          72    usa               mercury marquis
171

In [ ]:
#문제20) name 변수에 mercury 문구가 포함된 자동차의 mpg 평균값을 정수로 출력하시오.
df1 = df.copy()
cond = df1['name'].str.contains('mercury')
print(df1[cond].head())
result = df1[cond]['mpg'].mean()
print(int(result))

      mpg  cylinders  displacement  horsepower  weight  acceleration  \
49   23.0          4         122.0        86.0    2220          14.0
67   11.0          8         429.0       208.0    4633          11.0
90   12.0          8         429.0       198.0    4952          11.5
113  21.0          6         155.0       107.0    2472          14.0
154  15.0          6         250.0        72.0    3432          21.0

     model_year origin                      name
49           71    usa        mercury capri 2000
67           72    usa           mercury marquis
90           73    usa  mercury marquis brougham
113          73    usa          mercury capri v6
154          75    usa           mercury monarch
19

In [ ]:
#문제21) horsepower와 weight의 상관계수를 소수 둘째자리까지 구하시오.
df1 = df.copy()
result = df1['horsepower'].corr(df1['weight'])
print(round(result, 2))

0.86

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [ ]:
#문제22) mpg와 가장 상관관계가 높은 수치형 변수를 구하시오.
df1 = df.copy()
cols = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model_year']
df1 = df1[cols]
corr_matrix = df1.corr()
print(corr_matrix)
corr_matrix = corr_matrix['mpg'].drop(['mpg'])

result = corr_matrix.sort_values(ascending=False).index[0]
print(result)

                   mpg  cylinders  displacement  horsepower    weight  \
mpg           1.000000  -0.775396     -0.804203   -0.778427 -0.831741
cylinders    -0.775396   1.000000      0.950721    0.842983  0.896017
displacement -0.804203   0.950721      1.000000    0.897257  0.932824
horsepower   -0.778427   0.842983      0.897257    1.000000  0.864538
weight       -0.831741   0.896017      0.932824    0.864538  1.000000
acceleration  0.420289  -0.505419     -0.543684   -0.689196 -0.417457
model_year    0.579267  -0.348746     -0.370164   -0.416361 -0.306564

              acceleration  model_year
mpg               0.420289    0.579267
cylinders        -0.505419   -0.348746
displacement     -0.543684   -0.370164
horsepower       -0.689196   -0.416361
weight           -0.417457   -0.306564
acceleration      1.000000    0.288137
model_year        0.288137    1.000000
model_year

In [ ]:
#문제23) mpg와 음의 상관관계가 가장 높은 수치형 변수를 구하여 해당 변수의 중앙값을 구하시오.
df1 = df.copy()
cols = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model_year']
df1 = df1[cols]
corr_matrix = df1.corr()
corr_matrix = corr_matrix['mpg'].drop('mpg')
res_min = corr_matrix.idxmin()
print(res_min)
result = df1[res_min].median()
print(result)

weight
2803.5

## 05.날짜처리

In [ ]:
import pandas as pd
df = pd.DataFrame({
    '날짜': ['20220102', '20220105', None, '20230127', '20220203', '20220205', '20220915', '20230301',
           '20230203', '20230205', '20230315', '20230515'],
    '제품': ['사과', '딸기', None, '딸기', '사과', None, '사과', '딸기', '사과', '딸기', '사과', '사과'],
    '판매량': [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40],
    '개당수익': [200, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600]
})

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      11 non-null     object
 1   제품      10 non-null     object
 2   판매량     10 non-null     float64
 3   개당수익    12 non-null     int64
dtypes: float64(1), int64(1), object(2)
memory usage: 516.0+ bytes

In [ ]:
#문제24) 판매량 컬럼의 결측치를 최솟값으로 대체하고 결측치가 있을 때와
# 최솟값으로 대체했을 때 평균값의 차이를 절대값 정수로 출력하시오.
df1 = df.copy()
df1_min = df1['판매량'].min()
df1['판매량']= df1['판매량'].fillna(df1_min)
print(df1.head())

         날짜    제품   판매량  개당수익
0  20220102    사과   3.0   200
1  20220105    딸기   3.0   400
2      None  None   5.0   500
3  20230127    딸기  10.0   600
4  20220203    사과  10.0   400

In [ ]:
result = abs(df['판매량'].mean() - df1['판매량'].mean())
print(int(result))

2

In [ ]:
#문제25)  22년 1분기 사과 매출액을 구하시오. 매출액=판매량*개당수익
df1 = df.copy()
df1['매출액'] = df1['판매량'] * df['개당수익']
df1.head()

         날짜    제품   판매량  개당수익     매출액
0  20220102    사과   3.0   200   600.0
1  20220105    딸기   NaN   400     NaN
2      None  None   5.0   500  2500.0
3  20230127    딸기  10.0   600  6000.0
4  20220203    사과  10.0   400  4000.0

In [ ]:
df1['날짜'] = pd.to_datetime(df1['날짜'])
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      11 non-null     datetime64[ns]
 1   제품      10 non-null     object
 2   판매량     10 non-null     float64
 3   개당수익    12 non-null     int64
 4   매출액     10 non-null     float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(1)
memory usage: 612.0+ bytes
None

In [ ]:
# 풀이1
df1['년'] = df1['날짜'].dt.year
df1['분기'] = df1['날짜'].dt.quarter
df1['월'] = df1['날짜'].dt.month
df1['일'] = df1['날짜'].dt.day

df1.head()

          날짜    제품   판매량  개당수익     매출액       년   분기    월     일
0 2022-01-02    사과   3.0   200   600.0  2022.0  1.0  1.0   2.0
1 2022-01-05    딸기   NaN   400     NaN  2022.0  1.0  1.0   5.0
2        NaT  None   5.0   500  2500.0     NaN  NaN  NaN   NaN
3 2023-01-27    딸기  10.0   600  6000.0  2023.0  1.0  1.0  27.0
4 2022-02-03    사과  10.0   400  4000.0  2022.0  1.0  2.0   3.0

In [ ]:
cond1 = (df1['년'] == 2022)
cond2 = (df1['분기'] == 1)
cond3 = (df1['제품'] == '사과')
result = df1[cond1 & cond2 & cond3]['매출액'].sum()
print(result)

4600.0

In [ ]:
# 풀이2
cond1 = (df1['날짜'].between('2022-01-01', '2022-04-01'))
cond2 = (df1['제품'] == '사과')
result = df1[cond1 & cond2]['매출액'].sum()
print(result)

4600.0

In [ ]:
#문제26) `22년과 `23년의 총 매출액의 차이를 절대값으로 구하시오.
cond1 = df1[(df1['년']== 2022)]['매출액'].sum()
cond2 = df1[(df1['년'] == 2023)]['매출액'].sum()
result = abs(cond1 - cond2)
result

51900.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      11 non-null     object
 1   제품      10 non-null     object
 2   판매량     10 non-null     float64
 3   개당수익    12 non-null     int64
dtypes: float64(1), int64(1), object(2)
memory usage: 516.0+ bytes

In [ ]:
#문제26-1) `22년과 `23년의 총 매출액의 차이를 절대값으로 구하시오.
df1 = df.copy()
df1['날짜'] = pd.to_datetime(df1['날짜'])
df1['년'] = df1['날짜'].dt.year
df1['매출액'] = df1['판매량'] * df1['개당수익']

cond1 = df1[df1['년']==2022]['매출액'].sum()
cond2 = df1[df1['년']==2023]['매출액'].sum()
result = abs(cond1 - cond2)
result

51900.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      11 non-null     object
 1   제품      10 non-null     object
 2   판매량     10 non-null     float64
 3   개당수익    12 non-null     int64
dtypes: float64(1), int64(1), object(2)
memory usage: 516.0+ bytes

In [ ]:
#문제27) `22년 총 매출액이 큰 제품의 `23년 판매량을 구하시오.
df1 = df.copy()
df1['날짜'] = pd.to_datetime(df1['날짜'])
cond1 = (df1['날짜'].dt.year == 2022)
cond2 = (df1['날짜'].dt.year == 2023)
df1['매출액'] = df1['제품'] * df1['개당수익']
pname = df1[cond1].groupby('제품')['매출액'].sum().idxmax()
print(pname)
cond3 = (df1['제품'] == pname)
result = df1[cond2 & cond3]['판매량'].sum()
result

사과

90.0

In [ ]:
#문제28) 매출액이 4천원 초과, 1만원 미만인 데이터 수를 출력하시오.
df1 = df.copy()
df1['매출액'] = df1['제품'] * df1['개당수익']
df1['매출액'] = pd.to_numeric(df1['매출액'], errors='coerce')
cond = (df1['매출액'] > 4000) & (df1['매출액'] < 10000)
result = len(df1[cond])
result

0

# 제2 유형 문제들

In [ ]:
!git clone https://github.com/AnalyticsKnight/yemoonsaBigdata/

Cloning into 'yemoonsaBigdata'...
remote: Enumerating objects: 709, done.
remote: Counting objects: 100% (346/346), done.
remote: Compressing objects: 100% (231/231), done.
remote: Total 709 (delta 156), reused 237 (delta 115), pack-reused 363 (from 1)
Receiving objects: 100% (709/709), 11.46 MiB | 18.42 MiB/s, done.
Resolving deltas: 100% (341/341), done.

## 1.펭귄 무게 예측(회귀 문제)

### 주어진 데이터로 펭귄의 무게를 예측하고, 아래 가이드에 따라 답을 제출하시오. 제출한 모델의 성능은 RMSE 지표에 따라 채점함(제출파일양식 확인)

In [ ]:
# 1.데이터 파일
import pandas as pd
X_train = pd.read_csv('/content/yemoonsaBigdata/datasets/Part2/penguin_X_train.csv')
X_test = pd.read_csv('/content/yemoonsaBigdata/datasets/Part2/penguin_X_test.csv')
y_train = pd.read_csv('/content/yemoonsaBigdata/datasets/Part2/penguin_y_train.csv')

# 사용자 코딩
print(X_train.info())
print('*'*100)
print(X_test.info())
print('*'*100)
print(y_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            240 non-null    object
 1   island             240 non-null    object
 2   sex                232 non-null    object
 3   bill_length_mm     238 non-null    float64
 4   bill_depth_mm      238 non-null    float64
 5   flipper_length_mm  238 non-null    float64
dtypes: float64(3), object(3)
memory usage: 11.4+ KB
None
****************************************************************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            101 non-null    object
 1   island             101 non-null    object
 2   sex                101 non-null    object
 3   bill_length_mm     101 non-null    float64
 4   bill_depth_mm      101 non-null    float64
 5   flipper_length_mm  101 non-null    float64
dtypes: float64(3), object(3)
memory usage: 4.9+ KB
None
****************************************************************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   body_mass_g  238 non-null    float64
dtypes: float64(1)
memory usage: 2.0 KB
None

In [ ]:
# 2.결측치 처리
train = pd.concat([X_train, y_train], axis=1)
print(train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            240 non-null    object
 1   island             240 non-null    object
 2   sex                232 non-null    object
 3   bill_length_mm     238 non-null    float64
 4   bill_depth_mm      238 non-null    float64
 5   flipper_length_mm  238 non-null    float64
 6   body_mass_g        238 non-null    float64
dtypes: float64(4), object(3)
memory usage: 13.3+ KB
None

In [ ]:
train = train.dropna()
train.reset_index(drop=True, inplace=True)
print(train.info())
print('*'*100)
print(train.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232 entries, 0 to 231
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            232 non-null    object
 1   island             232 non-null    object
 2   sex                232 non-null    object
 3   bill_length_mm     232 non-null    float64
 4   bill_depth_mm      232 non-null    float64
 5   flipper_length_mm  232 non-null    float64
 6   body_mass_g        232 non-null    float64
dtypes: float64(4), object(3)
memory usage: 12.8+ KB
None
****************************************************************************************************
     species     island     sex  bill_length_mm  bill_depth_mm  \
0     Gentoo     Biscoe  FEMALE            43.5           15.2
1     Adelie  Torgersen    MALE            42.8           18.5
2  Chinstrap      Dream    MALE            53.5           19.9
3     Gentoo     Biscoe    MALE            50.2           14.3
4     Adelie      Dream  FEMALE            36.5           18.0

   flipper_length_mm  body_mass_g
0              213.0       4650.0
1              195.0       4250.0
2              205.0       4500.0
3              218.0       5700.0
4              182.0       3150.0

In [ ]:
# 3.컬럼 분리
X_train = train[X_train.columns]
y_train = train[y_train.columns]
print(X_train.shape, y_train.shape)

(232, 6) (232, 1)

In [ ]:
# 4.기술통계 확인
X_train.describe()  # 수치값만 나타남

       bill_length_mm  bill_depth_mm  flipper_length_mm
count      232.000000     232.000000         232.000000
mean        43.990948      17.226293         200.681034
std          5.509760       1.964677          14.064231
min         32.100000      13.200000         172.000000
25%         39.200000      15.700000         190.000000
50%         44.950000      17.350000         197.000000
75%         48.775000      18.725000         212.250000
max         58.000000      21.500000         231.000000

In [ ]:
# 5.자주 사용하는 컬럼을 유형별로 분리
COL_DEL = []
COL_NUM = ['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm']
COL_CAT = ['species' ,'island', 'sex']
COL_Y = ['body_mass_g']

In [ ]:
# 6.카테고리성 변수를 인코딩한다.(먼저 원핫인코딩 적용)
X = pd.concat([X_train, X_test])
print(X.shape)

# 6-1.인코더 생성
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()
ohe.fit(X[COL_CAT])

X_train_res = ohe.transform(X_train[COL_CAT])
X_test_res = ohe.transform(X_test[COL_CAT])
print(X_train_res.shape, X_test_res.shape)
# print(X_train_res[:5])

(333, 6)
(232, 8) (101, 8)

In [ ]:
# 6-2. 인코딩 데이터 결합
X_train_ohe = pd.DataFrame(X_train_res.toarray(), columns=ohe.get_feature_names_out())
X_test_ohe = pd.DataFrame(X_test_res.toarray(), columns=ohe.get_feature_names_out())
print(X_train_ohe.shape)
print(X_test_ohe.shape)
X_train_ohe.head()

(232, 8)
(101, 8)

,species_Adelie,species_Chinstrap,species_Gentoo,island_Biscoe,island_Dream,island_Torgersen,sex_FEMALE,sex_MALE
0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0
1,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
2,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
3,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
4,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

In [ ]:
# 6-3.인코딩 데이터와 수치형 데이터의 연결
X_train_fin = pd.concat([X_train[COL_NUM], X_train_ohe], axis=1)
X_test_fin = pd.concat([X_test[COL_NUM], X_test_ohe], axis=1)
print(X_train_fin.shape, X_test_fin.shape)
print(X_train_fin.info())
print(X_train_fin.head())

(232, 11) (101, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232 entries, 0 to 231
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   bill_length_mm     232 non-null    float64
 1   bill_depth_mm      232 non-null    float64
 2   flipper_length_mm  232 non-null    float64
 3   species_Adelie     232 non-null    float64
 4   species_Chinstrap  232 non-null    float64
 5   species_Gentoo     232 non-null    float64
 6   island_Biscoe      232 non-null    float64
 7   island_Dream       232 non-null    float64
 8   island_Torgersen   232 non-null    float64
 9   sex_FEMALE         232 non-null    float64
 10  sex_MALE           232 non-null    float64
dtypes: float64(11)
memory usage: 20.1 KB
None
   bill_length_mm  bill_depth_mm  flipper_length_mm  species_Adelie  \
0            43.5           15.2              213.0             0.0
1            42.8           18.5              195.0             1.0
2            53.5           19.9              205.0             0.0
3            50.2           14.3              218.0             0.0
4            36.5           18.0              182.0             1.0

   species_Chinstrap  species_Gentoo  island_Biscoe  island_Dream  \
0                0.0             1.0            1.0           0.0
1                0.0             0.0            0.0           0.0
2                1.0             0.0            0.0           1.0
3                0.0             1.0            1.0           0.0
4                0.0             0.0            0.0           1.0

   island_Torgersen  sex_FEMALE  sex_MALE
0               0.0         1.0       0.0
1               1.0         0.0       1.0
2               0.0         0.0       1.0
3               0.0         0.0       1.0
4               0.0         1.0       0.0

In [ ]:
# 7.데이터 모형 구축
from sklearn.model_selection import train_test_split
X_tr, X_val, y_tr, y_val = train_test_split(X_train_fin, y_train, test_size=0.2, random_state=123)
print(X_tr.shape, X_val.shape, y_tr.shape)   # X와 y의 행의 개수가 같은지 확인할 것

(185, 11) (47, 11) (185, 1)

In [ ]:
# 7-2.스케일링 작업
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(X_tr[COL_NUM])

X_tr[COL_NUM] = scaler.transform(X_tr[COL_NUM])
X_val[COL_NUM] = scaler.transform(X_val[COL_NUM])
X_test_fin[COL_NUM] = scaler.transform(X_test_fin[COL_NUM])
# print(X_tr[:5])
# print(X_val[:5])
# print(X_test_fin[:5])

In [ ]:
# 7-3.선형회귀
from sklearn.linear_model import LinearRegression
model_lr = LinearRegression()
model_lr.fit(X_tr, y_tr)

y_val_pred = model_lr.predict(X_val)
print(y_val_pred[:5])
print(model_lr.coef_, model_lr.intercept_)

[[3320.98234718]
 [4749.85785461]
 [4080.96572913]
 [3534.02410037]
 [4142.62897914]]
[[ 625.47865945  472.22217784 1037.9550169  -173.38340476 -439.75028684
   613.1336916    54.55346453  -57.44931709    2.89585256 -178.43947339
   178.43947339]] [3161.24758634]

In [ ]:
coef = pd.Series(model_lr.coef_[0], index=X_tr.columns)
print(coef.sort_values())

species_Chinstrap    -439.750287
sex_FEMALE           -178.439473
species_Adelie       -173.383405
island_Dream          -57.449317
island_Torgersen        2.895853
island_Biscoe          54.553465
sex_MALE              178.439473
bill_depth_mm         472.222178
species_Gentoo        613.133692
bill_length_mm        625.478659
flipper_length_mm    1037.955017
dtype: float64

In [ ]:
# 7-5.랜덤포레스트
from sklearn.ensemble import RandomForestRegressor
model_rf= RandomForestRegressor(random_state=123)
model_rf.fit(X_tr, y_tr)

y_val_pred_rf = model_rf.predict(X_val)
print(y_val_pred_rf[:5])

[3390.75 4762.25 4107.5  3530.75 3888.5 ]

/usr/local/lib/python3.11/dist-packages/sklearn/base.py:1389: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

In [ ]:
# 8.머신러닝 모델 평가
import numpy as np
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_val, y_val_pred)
rmse = np.sqrt(mean_squared_error(y_val, y_val_pred))
print('선형회귀:', mse, rmse)

mse_rf = mean_squared_error(y_val, y_val_pred_rf)
rmse_rf = np.sqrt(mean_squared_error(y_val, y_val_pred_rf))
print('랜덤포레스회귀:', mse_rf, rmse_rf)

선형회귀: 100823.1006899844 317.52653541079746
랜덤포레스: 97091.0704787234 311.59440058948974

In [ ]:
# 9.답안제출
pred = model_rf.predict(X_test_fin)
print(pred)
pd.DataFrame({'body_mass_g': pred}).to_csv('567_수험번호.csv', index=False)

[3946.25 5310.   3963.75 3573.25 4486.75 4114.25 3345.75 3506.   3561.
 3458.75 3502.25 5497.   3545.25 3938.5  3833.25 3976.25 4292.   3755.
 3574.25 3405.5  5206.5  3797.   5683.5  4595.75 5683.   5445.5  5501.5
 4128.25 3585.25 4145.5  3834.5  3419.5  3544.5  4225.5  3417.25 3381.25
 3070.75 3628.5  3734.75 4982.25 3320.5  5522.   4984.25 4671.   5569.
 4127.25 4692.5  3153.25 5198.   4001.75 4627.   4774.25 4282.75 3775.75
 3205.   4380.   4738.5  4304.   3986.   4194.   3847.5  4982.75 3597.
 4970.25 3698.25 3971.5  5523.   3021.5  4714.25 3711.5  4148.   3467.
 4700.25 3244.   4871.   4278.   5642.5  3665.   3397.75 4743.25 3530.75
 5590.   3493.75 4890.   4296.5  3388.5  5613.   3986.75 3803.75 4650.25
 4020.   3971.75 4136.75 4043.   5438.5  4323.75 5168.   3501.25 4772.75
 5652.   3604.  ]

In [ ]:
df = pd.read_csv('567_수험번호.csv')
df.head()

   body_mass_g
0      3946.25
1      5310.00
2      3963.75
3      3573.25
4      4486.75

## 2.단순예측(랜덤포레스를 사용한 예측)

In [ ]:
# 1.데이터 파일
import pandas as pd
X_train = pd.read_csv('/content/yemoonsaBigdata/datasets/Part2/penguin_X_train.csv')
X_test = pd.read_csv('/content/yemoonsaBigdata/datasets/Part2/penguin_X_test.csv')
y_train = pd.read_csv('/content/yemoonsaBigdata/datasets/Part2/penguin_y_train.csv')

# 사용자 코딩
print(X_train.info())
print('*'*100)
print(X_test.info())
print('*'*100)
print(y_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            240 non-null    object
 1   island             240 non-null    object
 2   sex                232 non-null    object
 3   bill_length_mm     238 non-null    float64
 4   bill_depth_mm      238 non-null    float64
 5   flipper_length_mm  238 non-null    float64
dtypes: float64(3), object(3)
memory usage: 11.4+ KB
None
****************************************************************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            101 non-null    object
 1   island             101 non-null    object
 2   sex                101 non-null    object
 3   bill_length_mm     101 non-null    float64
 4   bill_depth_mm      101 non-null    float64
 5   flipper_length_mm  101 non-null    float64
dtypes: float64(3), object(3)
memory usage: 4.9+ KB
None
****************************************************************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   body_mass_g  238 non-null    float64
dtypes: float64(1)
memory usage: 2.0 KB
None

In [ ]:
# 2.결측치 처리
train = pd.concat([X_train, y_train], axis=1)
train = train.dropna()
train.reset_index(drop=True, inplace=True)

X_train = train[X_train.columns]
y_train = train[y_train.columns]

print(X_train.info())
print('*'*100)
print(y_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232 entries, 0 to 231
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            232 non-null    object
 1   island             232 non-null    object
 2   sex                232 non-null    object
 3   bill_length_mm     232 non-null    float64
 4   bill_depth_mm      232 non-null    float64
 5   flipper_length_mm  232 non-null    float64
dtypes: float64(3), object(3)
memory usage: 11.0+ KB
None
****************************************************************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232 entries, 0 to 231
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   body_mass_g  232 non-null    float64
dtypes: float64(1)
memory usage: 1.9 KB
None

In [ ]:
# 3.숫자값의 기술통계 확인
print(X_train.describe())

       bill_length_mm  bill_depth_mm  flipper_length_mm
count      232.000000     232.000000         232.000000
mean        43.990948      17.226293         200.681034
std          5.509760       1.964677          14.064231
min         32.100000      13.200000         172.000000
25%         39.200000      15.700000         190.000000
50%         44.950000      17.350000         197.000000
75%         48.775000      18.725000         212.250000
max         58.000000      21.500000         231.000000

In [ ]:
# 4.자주 사용하는 컬럼 유혐별 분리
COL_DEL = []
COL_NUM = ['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm']
COL_CAT = ['species', 'island', 'sex']
COL_Y = ['body_mass_g']

In [ ]:
# 5.인코딩 : 카데고리성 컬럼에 대해(레벨인코딩)
# print(X_train.head())
X = pd.concat([X_train, X_test], axis=0)

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for col in COL_CAT:
    le.fit(X[col])
    X_train[col] = le.transform(X_train[col])
    X_test[col] = le.transform(X_test[col])

print(X_train.head())

   species  island  sex  bill_length_mm  bill_depth_mm  flipper_length_mm
0        2       0    0            43.5           15.2              213.0
1        0       2    1            42.8           18.5              195.0
2        1       1    1            53.5           19.9              205.0
3        2       0    1            50.2           14.3              218.0
4        0       1    0            36.5           18.0              182.0

<ipython-input-30-1712523269b6>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train[col] = le.transform(X_train[col])
<ipython-input-30-1712523269b6>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train[col] = le.transform(X_train[col])
<ipython-input-30-1712523269b6>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train[col] = le.transform(X_train[col])

In [ ]:
# 6.데이터 모형 구축
from sklearn.model_selection import train_test_split
X_tr, X_val, y_tr, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state=123)
print(X_tr.shape, X_val.shape, y_tr.shape)  #X_tr과 X_val의 행의 개수가 같은지 확인

(185, 6) (47, 6) (185, 1)

In [ ]:
# 6-1.스케일링 작업
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(X_tr[COL_NUM])

X_tr[COL_NUM] = scaler.transform(X_tr[COL_NUM])
X_val[COL_NUM] = scaler.transform(X_val[COL_NUM])

In [ ]:
# 6-2.RandomForestRegressor 사용
from sklearn.ensemble import RandomForestRegressor
model_rfr = RandomForestRegressor(random_state=123)
model_rfr.fit(X_tr, y_tr)

y_pred_rfr = model_rfr.predict(X_val)
print(y_pred_rfr[:5])

[3420.75 4760.75 4093.25 3512.5  3898.75]

/usr/local/lib/python3.11/dist-packages/sklearn/base.py:1389: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

In [ ]:
# 7.평가
import numpy as np
from sklearn.metrics import mean_squared_error
mse_rfr = mean_squared_error(y_val, y_pred_rfr)
rmse_rfr = np.sqrt(mean_squared_error(y_val, y_pred_rfr))
print('mse', mse_rfr)
print('rmse', rmse_rfr)

mse 101705.84042553192
rmse 318.91353126753955

In [ ]:
# 8.제출
pred = model_rfr.predict(X_test)
print(pred.shape)
pd.DataFrame({'body_mass_g': pred}).to_csv('345_수험번호.csv', index=False)

(101,)

In [ ]:
df = pd.read_csv('345_수험번호.csv')
df.head()

   body_mass_g
0      5009.50
1      5664.50
2      5031.00
3      4370.75
4      5002.50

# 제3 유형 문제들

## 1.아노바(ANOVA)에 관한 문제