<a href="https://colab.research.google.com/github/va4756/yemoon_bigdata_test/blob/main/bigdata_%EC%98%88%EB%AC%B8_%EC%9E%91%EC%97%851_example1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
!git clone https://github.com/AnalyticsKnight/yemoonsaBigdata/

Cloning into 'yemoonsaBigdata'...
remote: Enumerating objects: 709, done.
remote: Counting objects: 100% (346/346), done.
remote: Compressing objects: 100% (231/231), done.
remote: Total 709 (delta 156), reused 237 (delta 115), pack-reused 363 (from 1)
Receiving objects: 100% (709/709), 11.46 MiB | 14.61 MiB/s, done.
Resolving deltas: 100% (341/341), done.

## 01.sns 예문 중에서 tip을 이용한 문제들

In [3]:
import seaborn as sns
import numpy as np

In [4]:
sns.get_dataset_names

In [5]:
df = sns.load_dataset('tips')
print(df.shape)
df.head()

(244, 7)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [6]:
#문제1) total_bill 변수의 제1 사분위를 구하고 정수값으로 출력하시오.
q1 = df['total_bill'].quantile(0.25)
print(q1)
print(int(q1))

13.3475
13

In [7]:
#문제2) total_bill 값이 20 이상 25 이하인 데이터의 수를 구하시오.
cond1 = df['total_bill'] >= 20
cond2 = df['total_bill'] <= 25
# result = len(df[cond1 & cond2])
result0 = df[cond1 & cond2].shape
print(result0)
result = df[cond1 & cond2].shape[0]
result

(42, 7)

42

In [8]:
#문제3) tip 변수의 IQR 값을 구하시오.
q3, q1 = df['tip'].quantile([0.75, 0.25])
print(q3, q1)
IQR = q3 - q1
print(IQR)

3.5625 2.0
1.5625

In [9]:
#문제4) tip 변수의 상위 10개 값의 총합을 구하여 소수점을 버리고 정수로 출력하시오.
#top_10 = df['tip'].sort_values(ascending=False).head(10)
top_10 = df.sort_values(by='tip', ascending=False).head(10)
result = int(top_10['tip'].sum())
result

70

In [10]:
#문제5) 전체 데이터에서 sex가 Female인 비율이 얼마인지 소숫점 첫째자리까지 출력하시오.
cond = df[df['sex'] == 'Female']
ratio = len(cond) / len(df)
print(ratio)
print(round(ratio, 1))

0.35655737704918034
0.4

In [11]:
#문제6) 첫번째 행부터 순서대로 10개 뽑은 후 total_bill 열의 평균값을 반올림하여 정수로 출력하시오.
top_10 = df.head(10)
# result = top_10['total_bill'].mean()
result = df.loc[0:9]['total_bill'].mean()
print(result)
print(round(result))

18.737000000000002
19

In [12]:
#문제7) 첫번째 행부터 순서대로 50% 까지 데이터를 뽑아서 tip 변수의 중앙값을 구하시오.
half = int(len(df) * 0.5 )
print(half)
result = df[:half]['tip'].median()
print(result)

122
3.0

## 02.결측치 처리 내용(mpg 데이터 사용)

In [13]:
df = sns.load_dataset('mpg')
print(df.shape)
df.head()

(398, 9)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [15]:
df.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

In [16]:
#문제8) 결측값이 있는 데이터의 수를 구하시오.
result = df.isnull().sum()
print(result)
print(result.sum())

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model_year      0
origin          0
name            0
dtype: int64
6

In [17]:
#문제9) horsepower 컬럼의 결측값을 horsepower의 평균값으로 대체하고 horsepower의 중앙값을 정수로 출력하시오.
df1 = df.copy()
df1_mean = df1['horsepower'].mean()
df1['horsepower'] = df1['horsepower'].fillna(df1_mean)
print(df1.isnull().sum().sum())
result = df1['horsepower'].median()
print(int(result))

0
95

In [18]:
#문제10) horsepower 컬럼에 결측치가 있는 행을 제거하고 첫번째 행부터 순서대로 50% 를
# 추출한 후 해당 데이터의 1사분면의 수를 구하시오.
df1 = df.copy()
df1 = df1.dropna()
print(df1.info())
df1_half = int(len(df1) * 0.5)
df1 = df1.head(df1_half)
q1 = df1['horsepower'].quantile(0.25)
print(q1)

<class 'pandas.core.frame.DataFrame'>
Index: 392 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    int64
 2   displacement  392 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        392 non-null    int64
 5   acceleration  392 non-null    float64
 6   model_year    392 non-null    int64
 7   origin        392 non-null    object
 8   name          392 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 30.6+ KB
None
86.0

## 03.이상치 처리(mpg 데이터에서)

In [19]:
#문제11) cylinders 가 3인 자동차와 8인 자동차 그룹의 mpg 평균값 차이를 절대값 정수로 출력하시오.
df1 = df.copy()
df1['cylinders'].sort_values().value_counts()

cylinders
4    204
8    103
6     84
3      4
5      3
Name: count, dtype: int64

In [20]:
cond1 = df1['cylinders'] == 3
cond2 = df1['cylinders'] == 8
result = abs(df1[cond1]['mpg'].mean() - df1[cond2]['mpg'].mean())
print(int(result))

5

In [21]:
#문제12) horsepower 변수를 z-score 표준화를 진행하고 이상치 수를 구하시오.
# 이상치는 z 값이 1.5를 초과하거나 -1.5 미만인 값이다.
# z-score 표준화 : z = (x - 평균) / 표준편차
df1 = df.copy()
df1_mean = df1['horsepower'].mean()
df1_std = df1['horsepower'].std()
df1['hp_horse_zscore'] = (df1['horsepower'] - df1_mean) / df1_std
print(df1.head())

    mpg  cylinders  displacement  horsepower  weight  acceleration  \
0  18.0          8         307.0       130.0    3504          12.0
1  15.0          8         350.0       165.0    3693          11.5
2  18.0          8         318.0       150.0    3436          11.0
3  16.0          8         304.0       150.0    3433          12.0
4  17.0          8         302.0       140.0    3449          10.5

   model_year origin                       name  hp_horse_zscore
0          70    usa  chevrolet chevelle malibu         0.663285
1          70    usa          buick skylark 320         1.572585
2          70    usa         plymouth satellite         1.182885
3          70    usa              amc rebel sst         1.182885
4          70    usa                ford torino         0.923085

In [22]:
cond1 = df1['hp_horse_zscore'] > 1.5
cond2= df1['hp_horse_zscore'] < -1.5
result = len(df1[cond1 | cond2])
result

39

In [25]:
#문제13) mpg 컬럼을 min-max 정규화를 진행한 후 0.8 보다 큰 값을 가지는 레코드 수를 구하시오.
# min-max scaling = (x - min) / (max - min)
df1 = df.copy()
df_max= df1['mpg'].max()
df_min = df1['mpg'].min()
df1['mpg_min_max'] = (df1['mpg'] - df_min) / (df_max - df_min)
df1 = df1.sort_values(by='mpg_min_max', ascending=False)
cond = df1['mpg_min_max'] > 0.8
result = len(df1[cond])
result

11

In [28]:
#문제14) weight 컬럼에 대하여 상자그림(박스플롯) 기준으로 이상치의 갯수를 구하시오.
df1 = df1.copy()
q1, q3 = df1['weight'].quantile([0.25, 0.75])
iqr = q3 - q1
print(iqr)
upper_bound = q3 + iqr * 1.5
lower_bound = q1 - iqr * 1.5
cond1 = df1['weight'] > upper_bound
cond2 = df1['weight'] < lower_bound
result = len(df1[cond1 | cond2])
result

1384.25

0

## 04.데이터 분석(mpg 데이터를 이용)

In [34]:
#문제15) model_year가 80보다 큰 차량 중에 mpg 값이 가장 큰 차량의 horsepower 값을
# 합산하여 출력하시오.
df1 = df.copy()
max = df1[df1['model_year'] > 80]['mpg'].max()
result = df1[df1['mpg'] == max]['horsepower'].sum()
print(result)

52.0

In [39]:
#문제16) origin 이 usa, europe 인 데이터 중에서 horsepower의 표준편차값의 차이를
# 절대값으로 소수 첫째 자리까지 출력하시오.
df1 = df.copy()
print(df1['origin'].value_counts())
df_usa = df1[df1['origin'] == 'usa']['horsepower'].std()
df_euro = df1[df1['origin'] == 'europe']['horsepower'].std()
diff = abs(df_usa - df_euro)
print(round(diff, 1))

origin
usa       249
japan      79
europe     70
Name: count, dtype: int64
19.7

In [54]:
#문제17) origin 별로 그룹화하여 weight의 평균값을 산출하고 평균값이 높은 그룹의
# weight의 3사분위 수 값을 구하시오.
df1 = df.copy()
a = df1.groupby(['origin'])['weight'].mean()
a = a.sort_values(ascending=False)
print(a)
b = a.index[0]
print(b)
result = df1[df1['origin'] == b]['weight'].quantile(0.75)
result

origin
usa       3361.931727
europe    2423.300000
japan     2221.227848
Name: weight, dtype: float64
usa

4054.0

In [ ]:
#문제18) name 별로 그룹화하여 mpg의 중앙값을 산출하고 중앙값이 높은 그룹의
#  mpg의1사분위 수 값을 구하시오.